input {
  &[type='checkbox'] {
    width: 4rem;
    height: 4rem;
    display: block;
    border-radius: 2rem;
    margin-right: 1rem;
  }
  &::placeholder {
    opacity: 0.5;
    color: lightgrey;
  }
}
